# Object files
*.o
*.ko
*.obj
*.elf

# Debug files
*.dSYM/
*.su
Library
Temp
/example/obj
/example/example.sln
/example/Assembly-CSharp.csproj
/example/.vs
*DS_Store
*.vscode
src/managed/TstUnity/obj/
.vs
/example/Assembly-CSharp-Editor.csproj
/example/Bin
/example/.vsconfig

# Android Proj files
*.log
*.bin
*.dex
*.so
*.dll
*.dll.jar
*.pdb
*.pdb.jar
*.pdb.meta
/example/_Build/Android/
/example/_Build/AndroidProj/launcher/build/intermediates
/example/_Build/AndroidProj/unityLibrary/build/intermediates
/example/_Build/AndroidProj/launcher/build/outputs
/example/_Build/AndroidProj/unityLibrary/build/outputs

# Intermediate files for native build
src/native/c/build*/
